
/*----------------------------- NAV-BAR ----------------------------------------*/
.navbar-default{
	background: transparent;
	border: transparent;
	font-weight: bold;
	padding: 2%;
}

#start-bootstrap{
	font-size: 20px;
	color: #E5CE0B;
}

.navegation .container-fluid .row .container .col-lg-12 .navbar .navbar-collapse ul li a{
	color: white;
}

/*---------------------------- HEADER -------------------------------------------*/
.navegation{
	background: url(../../img/header-bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 710px;
}

.header{
	color: white;
	margin-top: 12%;
}

.welcome{
	font-size: 40px;
}

.nice-to-meet-you{
	font-size: 65px;
	font-weight: bolder;
}

.btn-tell-me-more{
	background: #F7F005;
	border: 1px solid #F7F005;
	color: white;
	font-size: 16px;
	padding: 1.5% 2.8%;
	font-weight: bolder;
	margin-top: 3%;
}

/*------------------------------------------- SERVICES ------------------------------------------*/
.services{
	padding: 3%;
}

.titles-services{
	padding: 6%;
}

.btn-icon{
	width: 85px;
	height: 85px;
	border-radius: 50%;
	background: #F7F005;
	border: 1px solid #F7F005;
	margin-top: 2%;
}

.fa.services{
	color: white;
	font-size: 50px;
}

.services-title{
	padding-top: 4%;
	padding-bottom: 2%;
}

.gris{
	color: grey;
}


/*--------------------------------- PORTFOLIO --------------------------------------------*/
.portfolio{
	background: rgb(228, 227, 227);
}

.container.portfolio{
	padding: 7%;
}

.row.portfolio{
	padding: 0;
}

.types-portfolio{
	background: white;
	box-sizing: border-box;
	margin: 4% 0;
}

.titles-portfolio{
	margin: 1% 0 7% 0;
}

.text-types{
	padding: 5%;
}


/*------------------------------------ ABOUT ---------------------------------------------*/
.container.about{
	padding: 7%;
}

.sub{
	margin: 7% 0;
}

.foto-about, .yellow-circle{
	border: 5px solid rgb(228, 227, 227);
}

.yellow-circle{
	background: #F7F005;
	width: 100%;
	height: 130px;
	border-radius: 50%;
	padding: 20%;
}
