
/*----------------------------- NAV-BAR ----------------------------------------*/
.navbar-default{
	background: transparent;
	border: transparent;
	font-weight: bold;
	padding: 2%;
}

#start-bootstrap{
	font-size: 20px;
	color: rgb(250, 174, 39);
}

/*---------------------------- HEADER -------------------------------------------*/
.navegation{
	background: url(../../img/header-bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 710px;
}

.header{
	color: white;
	margin-top: 12%;
}

.welcome{
	font-size: 40px;
}

.nice-to-meet-you{
	font-size: 65px;
	font-weight: bolder;
}

.btn-tell-me-more{
	background: rgb(250, 174, 39);
	border: 1px solid rgb(250, 174, 39);
	color: white;
	font-size: 16px;
	padding: 1.5% 2.8%;
	font-weight: bolder;
	margin-top: 3%;
}